<% @rolls.each_with_index do |value, index| %>
  <%= image_tag "#{value}" + ".png", title: "#{value}", alt: "The Roll", id: "image-#{index + 1}" %>
<% end %>

<% if @win  %>
  <h1 id="win"><%= @win %></h1>
<% end %>
