.container {
  margin: 20px auto;
  width: 600px;
  padding: 20px 20px 20px 20px;
  background-color: #AADDFF;
  border-radius: 20px;
}

*:focus {
    outline: none;
}

th {
  text-align: left;
}

h1{
  background-color: #3366FF;
  padding: 30px;
  border-radius:  50px; 
}

h2{
  background-color: #5599FF;
  padding: 20px;
  border-radius:  20px; 
}

h3{
  background-color: #77AAFF;
  padding: 10px;
  border-radius:  50px; 
}

#question{
  padding: 10px;
  border-radius:  20px; 
  background-color: #AAAAFF;
}

a:not(#questions){
  border-radius:  20px; 
  background-color: #DDEEFF;
  padding: 6px;
  text-decoration: none;
  color: black;
}

a:not(#questions):hover{
  background-color: #EEFFFF;
  box-shadow: 0 0 20px #FFFFFF;

}

ul > p{
  padding: 3px;
}

#update{
 padding: 20px;
}
#update>input{
 padding: 20px;
}

#questions{
  text-decoration: none;
  color: black;
}
#questions:hover{
  color: white;
  text-shadow: 0 0 1px #FFFFFF;
}

#back{
  padding: 20px;
}

#answer{
  background-color: #FFFFFF;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: -50px;

  padding: 15px;
}

#no_answer{
  background-color: #222244;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-top-left-radius: -50px;
  color:white;
  padding: 10px;
}

#form{
  background-color: #88AAFF;
  border-radius: 20px;
  padding: 20px;
}


textarea{
  background-color: #EEFEFF;
  border-radius: 10px;
  padding: 5px;
}

input{
  padding: 10px;
  border-radius: 40px;
  color: white;
  background-color: #5555FF;
  border: none;
}

input:hover{
  background-color: #3333DD;
  text-shadow: 0 0 3px #FFFFFF;
}