
<div id = "question">
<%= form_for([@user, @user.questions.build]) do |f| %>
  <p>
    <%= f.label :question %><br>
    <%= f.text_area :question %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
