<h1>Answer a question!</h1>

<% @questions.each_with_index do |question, index| %>
  <p><%= index + 1 %>. <a id ="questions" href="/answer_question/<%=question.id%>"><%= question.question %></a></p>
<% end %>

<a href="/users/<%= @user_profile.id%>" id = "back"> &#8617; Go Back</a>