<h2> Ask a question! </h2>

<form action="/ask_question" method="post" id="question">
    <br>
    <textarea rows="4" cols="50" name="question" form="question" placeholder= "Write your question here"></textarea>
    <input type="submit" value="Ask!">
</form>

<a href="/users/<%=current_user.id%>" id = "back"> &#8617; Go Back</a>

