<h1> Login </h1>

<ul>
  <form action="/login" method="post">
    <br>
    <input type="text" placeholder="e-mail" name="user_email">

    <input type="password" placeholder="password" name="user_password">

    <input type="submit" value="Login">
  </form>
</ul>

<a href="/" id = "back"> &#8617; Go Back</a>
